.container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: scroll;
  background-color: #faf9f6;
  background-image: url("../assets/homepage_bg.jpg");
}

.noentry {
  text-align: center;
  margin-top: 2rem;
  font-size: 1rem;
  color: rgba(var(--primary-bg));
}

.entries {
  margin: 5%;
  flex-direction: column;
  display: flex;
  align-items: center;
  gap: 20px;
  width: 90%;
}

.entry {
  margin: 5% 0;
  /* border-radius: 10px; */
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(var(--primary-bg)); /* subtle border */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.8); /* gives clean definition */
  overflow: hidden;
  background-color: rgba(var(--primary-bg), 0.3);
}

.dateTime {
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 2%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.date {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.time {
  margin-left: 5%;
}

.text {
  margin-top: 8%;
  padding: 2%;
  color: white;
  word-break: break-word;
}

.media {
  height: 100px;
  /* width: 100%; */
  padding: 6%;
}

.photo {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.mood {
  padding: 2%;
  /* border-top: 1px solid; */
  font-weight: bold;
  color: white;
}

.navBtns {
  width: 80%;
  margin: 5%;
  display: flex;
  justify-content: space-between;
}

.monthName {
  font-size: 25px;
  font-weight: bold;
  color: rgba(var(--primary-bg));
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    color: rgba(var(--primary-bg));
    padding: 5%;
    border-radius: 12px;
    font-size: 22px;
    width: 100%;
    box-sizing: border-box;
}

.empty {
  background: none;
  cursor: default;
}

.btn {
  background-color: rgba(var(--primary-bg));
  border: none;
  color: black;
  border-radius: 8px;
  padding: 6%;
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
