.container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: scroll;
  background-color: rgba(var(--primary-bg));
  background-image: url("../assets/homepage_bg.jpg");
}

.calendar {
  text-align: center;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
}

.weekdays {
  /* margin: 10% 5% 0 5%; */
  display: grid;
  font-size: 17px;
  grid-template-columns: repeat(7, 1fr);
  width: 90%;
}

.days {
  margin: 10% 5% 0 5%;
  display: grid;
  font-size: 20px;
  grid-template-columns: repeat(7, 1fr);
  width: 90%;
}

.weekdays div {
  font-weight: bold;
  color: #666;
}

.day {
  border: 1px rgba(var(--primary-bg)) solid;
  padding: 8px;
  margin: 2px;
  border-radius: 10%;
  cursor: pointer;
  color: #ffffff;
  font-weight: bold;
}

.navBtns {
  width: 80%;
  margin: 5%;
  display: flex;
  justify-content: space-between;
}

.monthName {
  font-size: 25px;
  font-weight: bold;
  color: rgba(var(--primary-bg));
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  color: rgba(var(--primary-bg));
  padding: 5%;
  border-radius: 12px;
  font-size: 22px;
  width: 100%;
  margin: 5%;
  box-sizing: border-box;
}

.empty {
  background: none;
  cursor: default;
}

.btn {
  background-color: rgba(var(--primary-bg));
  border: none;
  border-radius: 8px;
  color: black;
  padding: 6%;
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
