.container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #faf9f6;
  background-image: url("../assets/homepage_bg.jpg");
}

.wrapper {
  margin: 5%;
  width: 90%;
  color: rgba(var(--primary-bg));
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgba(var(--primary-bg), 0.3);
  border: 1px solid rgba(var(--primary-bg));
}

.enter-text {
  margin: 7%;
  display: flex;
  flex-direction: column;
}

.date {
  margin: 7%;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 18px;
}

.datetab {
  margin-top: 2%;
  background: transparent;
  color: rgba(var(--primary-bg));
  font-family: sans-serif;
  font-size: 15px;
  padding: 1%;
  border: solid 1px;
}

.input {
  margin-top: 2%;
  resize: none;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  height: 120px; /* fixed height */
  font-size: 95%;
  padding: 3%;
  background: #000000a3;
  color: rgba(var(--primary-bg));
}

.input-label {
  font-weight: bold;
  font-size: 18px;
}

.add-media {
  margin: 2% 7% 5%;
}

.mediaLabel {
  font-weight: bold;
  font-size: 18px;
}

.media-input {
  margin-top: 2%;
}

.rating {
  margin: 2% 7%;
}

.rating-label {
  font-weight: bold;
  font-size: 18px;
}

.rating-select {
  margin-top: 5%;
}

.option-wrapper {
  margin-top: 2%;
  display: flex;
  justify-content: flex-start;
  padding: 2%;
}

.option {
  height: 20px;
  width: 20px;
  border-radius: 10px;
}

.option-label {
  margin-left: 3%;
}

.btnWrapper {
  margin: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submitBtn {
  background: rgba(var(--primary-bg));
  color: black;
  font-weight: bold;
  padding: 3%;
  border-radius: 5px;
}


.deletePopUp {
  position: fixed;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.415);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.delWrapper {
  padding: 15%;
  background-color: rgb(0, 0, 0);
  border-radius: 3%;
  display: flex;
  position: relative;
  bottom: 20%;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  box-sizing: border-box;
}

.popupText {
  font-size: 2rem;
  color: rgba(var(--primary-bg));
  font-weight: 500;
}

.okBtn {
  font-size: 1.5rem;
  background-color: rgba(var(--primary-bg));
  padding: 1% 7%;
  font-weight: 600;
  border-radius: 26% / 46%;
  margin-top: 7%;
}

