.container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: scroll;
  background-color: #faf9f6;
  background-image: url("../assets/homepage_bg.jpg");
}

.overlay {
  position: fixed;
  z-index: 1000;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8); /* red overlay with 50% transparency */
}

.entries {
  margin: 5%;
  flex-direction: column;
  display: flex;
  align-items: center;
  gap: 20px;
  width: 90%;
}

.wrap {
  height: 100%;
  width: 100%;
}

.image {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.userActions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.back {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3%;
  padding: 2%;
  box-sizing: border-box;
  background-color: white;
  width: 10%;
  border-radius: 50%;
}

.backIcon {
  height: 22px;
  width: 22px;
}

.entry {
  margin: 5%;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(var(--primary-bg)); /* subtle border */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.8); /* gives clean definition */
  overflow: hidden;
  background-color: rgba(var(--primary-bg), 0.3);
}

.dateTime {
  display: flex;
  justify-content: flex-start;
  color: white;
  margin: 5% 5%;
}

.date {
  font-size: 30px;
  font-weight: bold;
  width: 50%;
  color: white;
}

.time {
  align-self: center;
  width: 50%;
  text-align: center;
}

.text {
  margin: 7% 5%;
  color: white;
  word-break: break-word;
}

.media {
  /* height: 100px; */
  /* width: 100%; */
  margin-top: 7%;
  padding: 6%;
}

.photo {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.mood {
  padding: 2%;
  /* border-top: 1px solid; */
  font-weight: bold;
  color: white;
}

.deletePopUp {
  position: fixed;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.415);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.delWrapper {
  padding: 15%;
  background-color: rgb(0, 0, 0);
  border-radius: 3%;
  display: flex;
  position: relative;
  bottom: 20%;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  box-sizing: border-box;
}

.popupText {
  font-size: 2rem;
  color: rgba(var(--primary-bg));
  font-weight: 500;
}

.okBtn {
  font-size: 1.5rem;
  background-color: rgba(var(--primary-bg));
  padding: 1% 7%;
  font-weight: 600;
  border-radius: 26% / 46%;
  margin-top: 7%;
}
