html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.logOut {
  border-radius: 15px;
  height: 40px;
  width: 40px;
  padding-left: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
}

.container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  width: 100%;
  background: rgba(var(--primary-bg));
  font-weight: 600;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  z-index: 10;
  align-self: baseline;
  font-weight: bold;
}

.page-title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  /* margin-left: 2%; */
  /* flex: 6; */
}

.back {
  height: 60px;
  max-width: 60px;
  padding-left: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex: 1.5; */
  box-sizing: content-box;
}
.back-icon {
  height: 100%;
  width: 100%;
}

.bg {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.bot-nav {
  background: rgba(var(--primary-bg));
  display: flex;
  /* padding: 2% 9%; */
  justify-content: space-between;
}

.mytab {
  height: 30px;
  width: 30px;
  padding: 15px;
  box-sizing: content-box;
}

.mytab-icon {
  height: 100%;
  width: 100%;
}

.myitem-wrapper {
  width: 25%;
  background: rgba(var(--primary-bg));
  display: flex;
  align-items: center;
  justify-content: center;
}

.myitem-wrapper-dark {
  width: 25%;
  background: #ffffff85;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile {
  color: #000;
  justify-self: end;
  margin-left: 45%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex: 1.2; */
}
