html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.logOut{
  border-radius: 15px;
  height: 30px;
  width: 30px;
  padding-left: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  width: 100%;
  background: rgba(var(--primary-bg));
  color: 393939;
  font-weight: 600;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1% 1%;
  box-sizing: border-box;
  z-index: 10;
}

.page-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2%;
}

.back {
  height: 60px;
  width: 60px;
  padding-left: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-icon {
  height: 100%;
  width: 100%;
}

.bg {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.bottom-nav {
  background:  rgba(var(--primary-bg));
  display: flex;
  /* padding: 2% 9%; */
  justify-content: space-between;
}

.tab {
  height: 30px;
  width: 30px;
  padding: 15px;
}

.tab-icon {
  height: 100%;
  width: 100%;
}

.item-wrapper {
  width: 25%;
  background:  rgba(var(--primary-bg));
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-wrapper-dark {
  width: 25%;
  background: #878784;
  display: flex;
  align-items: center;
  justify-content: center;
}


.profile{
  color: #000;
  justify-self: end;
  margin-left: 45%;
}
