@import "tailwindcss";


:root {
  --primary-bg:  216, 217, 210; /* light mode */
  --text: #393939;
}

[data-theme="dark"] {
  --primary-bg: 162, 233, 240;
  --text: #393939;
}

*{
  font-family: DM sans;
}

img {
  max-width: 100%;
  height: auto;
}


html,body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
    box-sizing: border-box;

}

#root{
   height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  
}