:root {
  --primary-bg: #d8d9d2; /* light mode */
  --text: #393939;
}

[data-theme="dark"] {
  --primary-bg: #a2e9f0;
  --text: #393939;
}

img {
  max-width: 100%;
  height: auto;
}


html,body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
    box-sizing: border-box;

}

#root{
   height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  
}